@import "tailwindcss";


@theme inline {
  --color-orange-crayola: #ff6b35ff;
  --color-peach: #f7c59fff;
  --color-beige: #efefd0ff;
  --color-polynesian-blue: #004e89ff;
  --color-lapis-lazuli: #1a659eff;
  --color-main-black: #111;
  --color-main-white: #f1f1f1;
  --gradient-radial: radial-gradient(var(--tw-gradient-stops));
  --gradient-conic: conic-gradient(from 180deg at 50% 50%, var(--tw-gradient-stops));
  --font-sans: var(--font-roboto);
  --font-inter: var(--font-inter);
}

body {
  background-color: #f1f1f1;
}