@import "tailwindcss";


@theme inline {
  --color-orange-crayola: #ff6b35ff;
  --color-peach: #f7c59fff;
  --color-beige: #efefd0ff;
  --color-polynesian-blue: #004e89ff;
  --color-lapis-lazuli: #1a659eff;
  --color-main-black: #111;
  --color-main-white: #f1f1f1;
  --gradient-radial: radial-gradient(var(--tw-gradient-stops));
  --gradient-conic: conic-gradient(from 180deg at 50% 50%, var(--tw-gradient-stops));
  --font-sans: var(--font-roboto);
  --font-inter: var(--font-inter);
}

body {
  background-color: #f1f1f1;
}


/* Utils classes */

/* Layout */
.u-main-container {
  @apply max-w-6xl mx-auto px-12;
}

.u-padding-content-container {
  @apply pt-32 pb-44;
}

.u-articles-grid {
  @apply grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-x-4 gap-y-8 mt-4 mb-12 list-none;
}


/* Typography */

.t-main-title {
  @apply font-inter font-bold text-zinc-900 text-4xl mb-2;
}

.t-main-subtitle {
  @apply mb-12 text-zinc-700;
}


/* Form */

.f-label {
  @apply block mb-2 text-gray-700 font-semibold;
}